{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center bg-danger">
            <h1 class="display-2">Connecter vous avec vos amis</h1>
        <p class="mt-3 lead"> Suivez les amis qui vous interesse. Restez à jour sur les dernières actualités et rejoignez les conversations avec vos amies</p>
    <div class="d-flex justify-content-center mt-5">
        <a href="" class="btn btn-light mr-2">Login</a>
        <a href="" class="btn btn-dark">Register</a>
        <a href="" class="btn btn-success"> <i  class="glyphicon glyphicon-apple"></i>Register</a>
        <button class="btn btn-primary">Boutton</button>
    </div>

    </div>
    </div>
</div>
  
    
    
    {% endblock content %}